In [1]:
import pandas as pd
import numpy as np
from var import COL_NAME, MONTH_CONVERT

In [3]:
iter_data = pd.read_csv("./data/export_data.csv", sep=";", decimal=',', encoding="latin-1", chunksize=500)
data= pd.concat([i for i in iter_data])
data.columns = map(str.lower, data.columns)
data["year_month"] = data["mois_annee_fr"].str[-4:] + data["mois_annee_fr"].str[:3].map(MONTH_CONVERT)
data = data[COL_NAME]

In [10]:
data.dropna()['duree_rea_post_op'].astype('int').value_counts()

0      188638
2        3538
3         955
4         634
5         483
        ...
65          1
147         1
202         1
278         1
125         1
Name: duree_rea_post_op, Length: 106, dtype: int64

In [36]:
data["total_noradrenaline"].isnull().groupby(data.noradrenaline, sort=False).sum() / data["total_noradrenaline"].isnull().groupby(data.noradrenaline, sort=False).size()

noradrenaline
0    0.000000
1    0.313847
Name: total_noradrenaline, dtype: float64

In [37]:
data["total_phenylephrine"].isnull().groupby(data.phenylephrine, sort=False).sum() / data["total_phenylephrine"].isnull().groupby(data.phenylephrine, sort=False).size()

phenylephrine
0    0.000000
1    0.017895
Name: total_phenylephrine, dtype: float64

In [38]:
data["total_gelofusine"].isnull().groupby(data.gelofusine, sort=False).sum() / data["total_gelofusine"].isnull().groupby(data.gelofusine, sort=False).size()

gelofusine
0    0.000000
1    0.000882
Name: total_gelofusine, dtype: float64

In [39]:
data["total_dobutamine"].isnull().groupby(data.dobutamine, sort=False).sum() / data["total_dobutamine"].isnull().groupby(data.dobutamine, sort=False).size()

dobutamine
0    0.000000
1    0.380619
Name: total_dobutamine, dtype: float64

In [40]:
data["total_hea"].isnull().groupby(data.hea, sort=False).sum() / data["total_hea"].isnull().groupby(data.hea, sort=False).size()

hea
0    0.000000
1    0.001981
Name: total_hea, dtype: float64

In [16]:
data.groupby(['service',"mois_annee_fr"]).nunique()

                           id_patient  id_intervention  age  poids  \
service     mois_annee_fr
Bloc Commun Aou_2013              384              417   74     94
            Aou_2014              379              414   73     82
            Aou_2015              392              429   74     89
            Aou_2016              453              491   75     89
            Aou_2017              387              419   75     90
...                               ...              ...  ...    ...
Urgences    Sep_2013              250              264   82     66
            Sep_2014              252              261   85     72
            Sep_2015              313              327   89     76
            Sep_2016              339              359   83     83
            Sep_2017              418              438   92     81

                           poids_ideal  delta_poids_poids_ideal  taille  asa  \
service     mois_annee_fr
Bloc Commun Aou_2013                59                      263      50    4
            Aou_2014                53                      254      45    4
            Aou_2015                53                      266      45    5
            Aou_2016                56                      301      48    5
            Aou_2017                57                      262      47    4
...                                ...                      ...     ...  ...
Urgences    Sep_2013                36                       79      34    5
            Sep_2014                48                       98      42    5
            Sep_2015                37                       87      34    5
            Sep_2016                50                      118      43    5
            Sep_2017                49                      148      44    5

                           categorie_asa  urgence  ...  total_noradrenaline  \
service     mois_annee_fr                          ...
Bloc Commun Aou_2013                   2        2  ...                    5
            Aou_2014                   2        2  ...                   16
            Aou_2015                   2        2  ...                   26
            Aou_2016                   2        2  ...                   21
            Aou_2017                   2        2  ...                    1
...                                  ...      ...  ...                  ...
Urgences    Sep_2013                   2        2  ...                   11
            Sep_2014                   2        2  ...                    9
            Sep_2015                   2        2  ...                   21
            Sep_2016                   2        2  ...                   21
            Sep_2017                   2        2  ...                    1

                           phenylephrine  total_phenylephrine  ringer  \
service     mois_annee_fr
Bloc Commun Aou_2013                   2                   10       2
            Aou_2014                   2                    9       2
            Aou_2015                   2                    6       2
            Aou_2016                   2                   10       2
            Aou_2017                   2                    7       2
...                                  ...                  ...     ...
Urgences    Sep_2013                   2                    5       2
            Sep_2014                   2                    4       2
            Sep_2015                   2                    4       2
            Sep_2016                   2                    4       2
            Sep_2017                   2                    5       2

                           total_ringer  ringer_lactate  total_ringer_lactate  \
service     mois_annee_fr
Bloc Commun Aou_2013                  8               2                     9
            Aou_2014                  9               2                    14
            Aou_2015                  5               2                    15
            Aou_2016                 14               2                    62
            Aou_2017                  7               2                    76
...                                 ...             ...                   ...
Urgences    Sep_2013                 13               2                     3
            Sep_2014                 21               2                     2
            Sep_2015                 22               2                     7
            Sep_2016                 17               2                     7
            Sep_2017                  9               2                     5

                           serum_sale  total_serum_sale  total_remplissage
service     mois_annee_fr
Bloc Commun Aou_2013                2                14                 33
            Aou_2014                2                17                 42
            Aou_2015                2                15                 29
            Aou_2016                2                38                 94
            Aou_2017                2                33                 89
...                               ...               ...                ...
Urgences    Sep_2013                2                11                 28
            Sep_2014                2                10                 30
            Sep_2015                2                12                 37
            Sep_2016                2                 9                 29
            Sep_2017                2                 9                 19

[1019 rows x 41 columns]